html {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 35px;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  /* height of sticky header */

  body {
    margin: 0;
  }

  background-color: white;

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .testimonials {
      font-size: 18px;
      line-height: 30px;
    }

    hr {
      width: 95%;
      border-color: #449b4d;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .fancy {
      font-family: "Lavishly Yours", cursive;
      font-weight: bold;
      color: #449b4d;
    }

    #menu {
      background-color: #449b4d;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px 80px;
      position: sticky;
      top: 0;
      z-index: 5;
      color: white;
      font-size: larger;

      a {
        color: white;
        text-decoration: none;
        transition: font-size 0.3s ease-in-out;
      }

      a:hover {
        font-size: larger;
        font-weight: bold;
      }

      a:visited {
        color: whitesmoke;
      }
    }

    .responsive-img {
      float: right;
      width: 350px;
    }

    @media (max-width: 1024px) {
      .responsive-img {
        float: unset;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    #header {
      min-height: 500px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      img {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        object-position: center center;
      }

      h1 {
        text-align: center;
        color: white;
        line-height: 1em;
        font-size: 5rem;
        text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.9);
        margin-bottom: 0;
      }

      h2 {
        font-family: "Lavishly Yours", cursive;
        font-weight: 400;
        text-align: center;
        color: white;
        line-height: 1em;
        font-size: 4rem;
        text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.9);
      }
    }

    #body {
      margin-left: auto;
      margin-right: auto;

      a {
        color: #449b4d;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 0.3s ease;
      }

      a:hover {
        text-decoration-color: #449b4d;
      }

      #content {
        padding: 30px 25%;

        #content2::first-letter {
          font-family: "Lavishly Yours", cursive;
          color: #449b4d;
          float: left;
          initial-letter: 3;
        }
      }
    }
  }
}